* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --highlight-clr: #0197f6;
  --hover-clr: #006bad;
  --background-clr: #02182b;
  --background-min-clr: #6f584b;
}

body {
  background-color: var(--background-min-clr);
  display: grid;
  height: 100vh;
}

.center {
  display: grid;
  justify-content: center;
  gap: 15px;
  align-content: center;
}

@media screen and (max-width: 450px) {
}

.container {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.7fr 0.3fr;
  place-self: center;
  border: 4px solid var(--background-clr);
  height: fit-content;
  width: 700px;
  background-color: var(--background-clr);
  border-radius: 10px;
  padding-top: 15px;
}

.subheading {
  display: grid;
  font-size: 20px;
  justify-content: center;
  color: white;
  height: fit-content;
}

.title {
  font-size: 75px;
  text-decoration: underline;
  color: var(--highlight-clr);
  justify-self: center;
  padding: 15px;
}

@media screen and (max-width: 450px) {
  .container {
    width: 95vw;
    height: fit-content;
    padding-top: 5px;
    grid-template-rows: 0.2fr 0.5fr 0.1fr 0.1fr;
  }

  .title {
    display: grid;
    font-size: 25px;
    padding: 10px;
  }

  .subheading {
    font-size: 10px;
  }

  .center {
    align-content: start;
    padding-top: 10px;
  }
}

/* =================== input */
.input-container {
  display: flex;
  height: 80px;
  width: 650px;
  justify-self: center;
  gap: 1rem;
}

.to-do-input {
  display: grid;
  height: 100%;
  width: 100%;
  font-size: 35px;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}

.add-btn {
  height: 100%;
  width: 7rem;
  font-size: 35px;
  border: 1px solid black;
  /* box-shadow: 5re #02182b ; */
  background-color: var(--hover-clr);
  color: white;
  border-radius: 10px;
}

.add-btn:hover {
  background-color: var(--highlight-clr);
}

@media screen and (max-width: 450px) {
  .input-container {
    width: 90vw;
    gap: 5px;
    height: 50px;
    justify-content: center;
  }

  .to-do-input {
    padding: 11px;
  }

  .to-do-input {
    height: fit-content;
    font-size: 15px;
    width: 250px;
    align-self: center;
    border-radius: 10px;
    justify-items: center;
  }
  .add-btn {
    font-size: 15px;
    height: 40px;
    width: 50px;
    border-radius: 10px;
    align-self: center;
  }

  .notification-bar {
    height: 10px;
  }

  .notification {
    font-size: 15px;
  }
}

/* =================== notification bar */

.notification {
  color: white;
  display: grid;
  justify-content: center;
}

/* =================== list */
.list-container {
  padding: 21px;
  word-wrap: break-word;
  padding: 21px;
  /* place-self: center; */
  border: 2px solid var(--background-clr);
  height: fit-content;
  width: 700px;
  border-radius: 10px;
  display: none;
  align-self: start;
  background-color: darkgray;
}

.list-title {
  font-size: 30px;
  text-decoration: underline;
  background-color: darkgray;
  color: black;
}

.to-do-list {
  display: grid;
  padding-top: 19px;
  padding-bottom: 19px;
  line-height: 35px;
  gap: 5px;
  justify-content: center;
  background-color: darkgray;
}

.task-item {
  font-size: 25px;
  display: grid;
  grid-template-columns: 0.5fr 6fr 0.7fr 0.5fr 0.5fr;
  align-items: center;
  width: 650px;
  gap: 1px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  height: auto;
}

.checkbox {
  font-size: 30px;
  display: grid;
  height: 25px;
  justify-content: start;
  border: 2px solid red;
}

.delete,
.edit {
  justify-self: end;
  border: 1px solid;
  padding: 4px;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
}

.time-stamp {
  color: black;
  font-size: 14px;
  display: grid;
  justify-content: end;
  line-height: 1.1;
  /* height: 100%; */
}

.delete:hover {
  color: red;
}

@media screen and (max-width: 450px) {
  .list-container {
    width: 95vw;
    justify-self: center;
    padding: 5px;
  }

  .to-do-list {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 0;
    line-height: 35px;
  }

  .task-item {
    width: 100%;
    height: 90%;
    padding-bottom: 0;
  }

  .list-title {
    font-size: 20px;
  }

  .task-item {
    font-size: 15px;
    gap: 3px;
  }
  .delete,
  .edit {
    font-size: 10px;
  }
  .time-stamp {
    font-size: 10px;
  }
}
/* ==============completed list */
.completed-list-container {
  display: none;
  background-color: rgb(126, 123, 123);
  padding: 21px;
  place-self: center;
  border: 2px solid var(--background-clr);
  height: fit-content;
  border-radius: 10px;
  width: 700px;
}

.completed-list-title {
  font-size: 30px;
  text-decoration: underline;
  color: black;
}

.completed-list {
  display: grid;
  padding-top: 19px;
  padding-bottom: 19px;
  line-height: 35px;
  gap: 5px;
  justify-content: center;
}

.show-list {
  display: grid;
}

@media screen and (max-width: 450px) {
  .completed-list-container {
    padding: 5px;
    width: 95vw;
  }

  .completed-list-title {
    font-size: 20px;
  }

  .completed-list {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 0;
    line-height: 35px;
  }
}
